/******************************
*    Autor: Dusan Perisic
*    Datum: 12.03.2015.
*
*    Dodatni stilovi OSNOVNA
*
*******************************/
.min80{margin-top: -80px}
.odmak{margin-top: 7%}
.nDn{text-align: right;padding-right: 10px}
.container .pretraga{margin-top: 8%;z-index: 5}
.smestajNaslov{margin-top: -4px}

h3{
    text-decoration: underline;
}
.okvir, .okvirSlide {
    background-color: rgba(255, 255, 255, 0.8);
}
.okvir{
    margin: 4%;
    padding: 3%;
    float: left;
    width: 40%;

    -webkit-border-radius: 70px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 70px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 70px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#googleMap{
    margin-bottom: 3%;
}
body {
     padding-top: 60px;
    background: #e8ebee;
 }
nav li a, p{
    font-size: 21px;
}
.moja-tabela td{
    padding: 5px 10px 0 0;
    font-size: 21px
}
@media(max-width: 400px){
    .navbar-brand img{margin-top: -15px}
}
@media(min-width: 767px) and (max-width: 991px){
    .navbar-brand img{margin-top: 30px}
}
.napredno{
    padding-top: 30px;
    display: none
}